.header-container{
  top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(30, 30, 30);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3030;
    display: flex;
    justify-content: center;
}

.header-container h1{
  font-size: medium;
  opacity: 100%;
}

.info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.info a{
  text-decoration: none;
  color: white;
}

.info a:hover{

  filter: drop-shadow(0 0 2em #646cffaa);
  color: white;
}