/* img_construction.css */
.construction-container {
  /* Styles pour le conteneur Construction */
  text-align: center;
  padding: 20px;
}

.construction {
  /* Styles pour la div construction */
  display: inline-block;
}

.construction img {
  /* Styles pour l'image */
  width: 10%;
  z-index: 80000;
  position: fixed;
  top: 0;
  left: 0;
}
