.modal-container {
  z-index: 8000;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 306px;
  width: 100%;
  height: 100%;
  justify-items: center;
}

.ReactModal__Body--open {
  z-index: 8100;
  background-color: rgb(0, 0, 0);
  position: relative;
}

.ReactModal__Overlay--after-open {
  z-index: 8500;
  background: rgb(5, 5, 5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ReactModal__Content {
  z-index: 5000;
  background: rgb(0, 0, 0);
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100%;
  height: 100%;
}

.div1, .div2, .div3, .div4, .div5 {
  border-radius: 10px;
  box-shadow: 0 5px 15px 0px rgb(255, 255, 255);
  overflow: hidden;
  width: 85%;
  background-color: #1a1a1a;
  animation: float 10s ease-in-out infinite;
  padding: 40px;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.div1 {
  animation-delay: 0s;
  margin-left: 60px;
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
  animation-delay: 1s;
  margin-right: 60px;
}

.div3 {
  grid-area: 2 / 2 / 3 / 3;
  animation-delay: 2s;
}

.div4 {
  grid-area: 2 / 3 / 3 / 4;
  animation-delay: 3s;
  margin-left: 60px;
}

.div5 {
  grid-area: 1 / 3 / 2 / 4;
  animation-delay: 4s;
  margin-right: 60px;
}

@keyframes float {
  0% {
      transform: translate(0px, 0px);
  }
  25% {
      transform: translate(5px, -3px);
  }
  50% {
      transform: translate(0px, -7px);
  }
  75% {
      transform: translate(-4px, -5px);
  }
  100% {
      transform: translate(0px, 0px);
  }
}


.ReactModal__Content {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  flex-direction: column;
  justify-content: flex-start;
}

.ReactModal__Content--before-close {
  opacity: 0;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.exit-button{
  position: fixed; /* Positionne le bouton par rapport à la fenêtre */
    top: 0; /* Place le bouton en haut */
    left: 0; /* Place le bouton à gauche */
    z-index: 1000; /* Assurez-vous que le bouton est au-dessus des autres éléments */
    margin: 10px;
}


.ReactModal__Content--after-open h2{
  margin-bottom: 90px;
}