.modal-container{
  z-index: 8000;
  background-color: aqua;
  position: relative;
}

.ReactModal__Body--open{
  z-index: 8100;
  background-color: aqua;
  position: relative;
}

.ReactModal__Overlay--after-open {
  z-index: 5000;
  background: aqua;

}

.ReactModal__Content{
  z-index: 5000;
  background: aqua;
}